@tailwind base;
@tailwind components;
@tailwind utilities;
  
  input:focus {
    border-width: 0.5px; 
    border-color: #B58A5F;
    outline: none;
    box-shadow: 0 0 5px rgba(183, 138, 95, 0.5); 
  }
  button{
    cursor: pointer;
  }
  .sidebar-item {
    background-color: #fff;
    cursor: pointer;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    transition: background-color 300ms ease-in-out; 
  }
  
  .sidebar-item:hover {
    background-color: #e7d6c1; 
  }